{
    "bracketSpacing": true,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth":4,
    "useTabs": false,
    "semi": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.json",
        "options": {
          "parser": "json"
        }
      }
    ]
  }
  