# Server port configuration
PORT=""
BACKEND_URL=""

# JWT configuration
JWT_SECRET=""
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=604800

# MongoDB configuration
MONGO_URI=""
DB_DATABASE=""
 
# Mail System Through NodeMailer
MAIL_USERNAME=""
MAIL_PASSWORD=""
SITE_EMAIL=""
 
PROJECT_NAME=""
SALT_ROUND=""

# node -e "console.log('CRYPTO_AES_KEY=' + require('crypto').randomBytes(32).toString('hex') + '\nCRYPTO_AES_IV=' + require('crypto').randomBytes(16).toString('hex'))"
CRYPTO_ALGORITHM="aes-256-cbc"
CRYPTO_AES_KEY=
CRYPTO_AES_IV=