<div class="">
    <div class="">Hello Admin,</div>
    <div class=""> Please click on the below link
        <p style="color: rgb(47, 0, 255)">
            <a href="<%=resetLink%>">Click Here</a>
        </p>
    </div>
    <div class="">
        <p>Thank You,</p>
    </div>
    <div class="">
        <%= project_name %>
    </div>
</div>